{% import 'appbuilder/general/lib.html' as lib %} {% set can_add = "can_add" | is_item_visible(modelview_name) %} {% set
can_show = "can_show" | is_item_visible(modelview_name) %} {% set can_edit = "can_edit" | is_item_visible(modelview_name)
%} {% set can_delete = "can_delete" | is_item_visible(modelview_name) %} {% set actions = actions | get_actions_on_list(modelview_name)
%} {% if can_add %}
<span class="list-add-action">
    {% set path = url_for(modelview_name + '.add') %} {% set path = path | set_link_filters(filters) %} &nbsp;{{ lib.lnk_add(path)
    }}
</span>
{% endif %} {% if count > 0 %} {% block begin_content scoped %} {% endblock %} {% block begin_loop_header scoped %} {% endblock
%} {% block begin_loop_values %} {% endblock %} {% block end_content scoped %} {% endblock %}

<div class="form-actions-container">
    {{ lib.render_actions(actions, modelview_name) }}
</div>
{{ lib.action_form(actions,modelview_name) }}

<div class="pagination-container pull-right">
    <strong>{{ _('Record Count') }}:</strong> {{ count }} {{ lib.render_pagination(page, page_size, count, modelview_name) }} {{
    lib.render_set_page_size(page, page_size, count, modelview_name) }}
</div>
<script language="javascript">
    var modelActions = new AdminActions();
    var checkAllFlag = false;
    var row_checked_class = 'success';

    $('.action_check_all').click(function(e) {
        console.info('check all:',checkAllFlag);
        checkAllFlag = !checkAllFlag;
        $('.action_check').prop('checked', checkAllFlag).trigger("change");
    });
    
    $('.action_check').change(function(e) {
        var thisClosest = $(this).closest('tr'),
        checked = this.checked;
        $(this).closest('tr').add(thisClosest )[checked ? 'addClass' : 'removeClass'](row_checked_class);
    });

    $('.action_check').click(function(e) {
        if($('tbody').find('.action_check:checked').length == $('.action_check_all').parents('table').find('tbody').find('tr').length) {
            $('.action_check_all').prop('checked', true);
            checkAllFlag = true;
        } else {
            $('.action_check_all').prop('checked', false);
            checkAllFlag = false;
        }
    });

    $('#modal-confirm').on('show.bs.modal', function(e) {
        if (e.hasOwnProperty('relatedTarget')) {
            $('.modal-text').html('You sure you want to delete this item?');
        }
    });
    
</script> {% else %}
<b>{{_("No records found")}}</b>
{% endif %}